label { display: block; }
p.lengthFeedback { padding-bottom: 1.2em; }
p.lengthFeedback span.feedback {
  position: absolute; font-size: 90%;
  font-family: sans-serif; color: silver; text-align: right;
}